table {
    width: 100%;
}

.mat-table {
  display: flex;
  flex-direction: column;
  
  ::ng-deep tbody, thead, tfoot {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep tbody {
    overflow: auto;
    max-height: calc(100vh - 205px);
  }
}

.mat-row {
  display: flex;
  flex-direction: row;
  min-height: 56px;
  padding: 8px 8px 0px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row.hasPress {
  cursor: pointer;
}
.mat-row:not(.hasPress){
  background-color: #f4f4f4;
}
/* Column Widths */
.mat-column-flight_number,
.mat-column-date_utc {
  width: 64px;
}

.mat-column-name {
  width: 128px;
}

.mat-column-details {
  width: calc(100vw - 136px);
  overflow: auto;
  line-height: 18px;
}



